p a:link {
    color: blue;
}

p a:visited {
    color: purple;
}

p a:hover {
    color: red;
}

p a:active {
    color: orange;
}

div a:link {
    color: blue;
}

div a:hover {
    color: red;
}

div a:visited {
    color: purple;
}

div a:active {
    color: orange;
}

* {
    font-size: 1.5pc;
}

.color:first-letter {
    color: blue;
    margin-left: 20px;
}